.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 0 5rem;
  border-radius: 3px;
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  background: #0071ba;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: space-between;
}
.btn-add {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  background-color: rgb(0, 150, 0);

  &:hover {
    background-color: green;
  }
}
.btn-edit {
  border: none;
  background: transparent;
  color: rgb(255, 172, 19);
  margin-right: 10px;
  font-size: 20px;

  &:hover {
    background-color: transparent !important;
    color: orange !important;
  }
}
.btn-delete {
  border: none;
  background: transparent;
  color: rgb(251, 69, 69);
  font-size: 20px;

  &:hover {
    background-color: transparent !important;
    color: red !important;
  }
}
